@import "colors.sass"
@import "fonts.sass"

@mixin placeholder
  &::-moz-placeholder
    @content
  &::-webkit-input-placeholder
    @content
  &:-ms-input-placeholder
    @content


@mixin placeholder-search
    font-family: "GothamProRegular"
    font-size: 18px
    color: #818181

    @media(max-width: 991px)
        font-size: 13px

header
    height: 220px
    background-color: $white

    .desktop-menu
        display: block

        .account
            margin-top: 75px
            float: left

            &__link-account
                font-family: "GothamProRegular"
                font-size: 18px
                color: $light-gray
                text-decoration: none !important

                .img-arrow
                    margin-left: 10px

            @media(max-width: 991px)
                margin-top: 50px

                &__link-account
                    font-size: 16px

        .logo
            position: absolute
            width: 264px
            left: 50%
            margin-left: -132px
            margin-top: 50px

            @media(max-width: 991px)
                margin-top: 35px
                width: 206px
                margin-left: -103px

        .search
            margin-top: 60px
            float: right

            #search-form input
                &[type="text"]
                    width: 250px
                    height: 40px
                    padding-top: 9px
                    padding-left: 15px
                    border: 1px solid #efeded
                    border-radius: 50px 0 0 50px
                    outline: none
                    margin-right: -5px

                    @include placeholder-search

                    &:focus
                        box-shadow: none

            #search-form button
                height: 40px
                width: 50px
                border: 1px solid #efeded
                border-left: none
                border-radius: 0 50px 50px 0
                outline: none
                background-color: #f0f0f0
                transition: .3s

                .fa-search
                    color: #62a6be
                    font-size: 18px

                &:active, &:hover, &:focus, &:visited
                    box-shadow: none
                    background-color: #e6e6e6

            @media(max-width: 991px)
                margin-top: 45px

                #search-form input
                    &[type="text"]
                        height: 25px
                        width: 190px

                #search-form button
                    height: 25px
                    padding: 0px
                    width: 40px

                    .fa-search
                        color: #62a6be
                        font-size: 16px

        .menu
            margin-top: 75px
            padding: 4px

            &__item
                display: inline
                margin-right: 92px
                padding-bottom: 5px
                transition: .3s
                border-bottom: 5px solid $white

                a
                    font-family: "GothamProRegular"
                    text-transform: uppercase
                    font-size: 18px
                    color: #393939
                    text-decoration: none !important
                    padding-bottom: 10px

                &:active, &:hover, &:focus, &:visited
                    border-bottom: 5px solid $orange

                @media(max-width: 1199px)
                    margin-right: 67px

                    a
                        font-size: 16px

                @media(max-width: 991px)
                    margin-right: 38px

                    a
                        font-size: 14px

            @media(max-width: 991px)
                margin-top: 50px

        @media(max-width: 991px)
                height: 160px

        @media(max-width: 767px)
            display: none

    .mobile-menu
        display: none

        @media(max-width: 767px)
            display: block

            .fa-bars
                color: #83b9cd
                font-size: 21px
                float: left
                margin-left: 20px
                margin-top: 15px

            .logo
                float: left
                width: 100px
                margin-top: 15px
                margin-left: 25px

            .link-account img
                float: right
                margin-right: 20px
                margin-top: 15px

            .search
                float: right
                margin-right: 25px
                font-size: 18px
                margin-top: 15px

    @media(max-width: 767px)
        height: 50px


