<div class="col-xs-12 text-center open-filter">
    <button type="submit" id="open-filter" class="btn btn-default">Открыть фильтр</button>
</div>
<div class="col-xs-12 filter">
    <form id="filter-form" method="get">
        {% csrf_token %}
        <div class="filter__row">
            <div class="filter__date">
                <input type="text" id="datepicker" disabled>
            </div>

            <div class="filter__rating">
                <p>Рейтинг от</p>
                <select name="rating" id="rating-filter" class="bts-select">
                    <option value="0">-</option>
                    <option value="1.0">1</option>
                    <option value="2.0">2</option>
                    <option value="3.0">3</option>
                    <option value="4.0">4</option>
                    <option value="5.0">5</option>
                    <option value="6.0">6</option>
                    <option value="7.0">7</option>
                    <option value="8.0">8</option>
                    <option value="9.0">9</option>
                    <option value="10.0">10</option>
                </select>
            </div>

            <div class="filter__age">
                <p>Возраст от</p>

                <select name="age-from" id="age-from-filter" class="bts-select">
                    <option value="0">-</option>
                    {% for age_restrictions in list_age_restrictions %}
                        <option value="{{ age_restrictions.age }}">{{ age_restrictions.name }}</option>
                    {% endfor %}
                </select>

                <p class="to">до</p>

                <select name="age-to" id="age-to-filter" class="bts-select">
                    <option value="0">-</option>
                    {% for age_restrictions in list_age_restrictions %}
                        <option value="{{ age_restrictions.age }}">{{ age_restrictions.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter__clear clear_desktop">
                <input type="submit" value="">
                <p class="to">
                    Сбросить
                </p>
            </div>
        </div>

        <div class="filter__row">
            <div class="filter__theaters">
                <select name="theaters" id="theaters-filter" class="bts-select">
                    <option value="0">Театры (все)</option>
                    {% for theater in theaters %}
                        <option value="{{ theater.slug }}">
                            {{ theater.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter__genres">
                <select name="genres" id="genres-filter" class="bts-select">
                    <option value="0">Жанры (все)</option>
                    {% for genre in genres %}
                        <option value="{{ genre.slug }}">{{ genre.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter__actors">
                <select name="actors" id="actors-filter" class="bts-select">
                    <option value="0">Актеры (все)</option>
                    {% for actor in actors %}
                        <option value="{{ actor.slug }}">{{ actor.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter__directed">
                <select name="directed" id="directed-filter" class="bts-select">
                    <option value="0">Режиссеры (все)</option>
                    {% for director in directors %}
                        <option value="{{ director.slug }}">{{ director.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter__clear clear_mobile">
                <input type="submit" value="">
                <p class="to">Сбросить</p>
            </div>
        </div>
    </form>
</div>