{% load staticfiles %}

{% if performances_affiche.count == 0 %}
    <h3 class="not-performances">
        В ближайшее время Вашем городе нет спектаклей
    </h3>
{% else %}
    <ul class="nav nav-tabs">
        <li class="active poster-tab">
            <a data-toggle="tab" href="#list-performances-poster">Афиша</a>
        </li>

        <li class="schedule-tab">
            <a data-toggle="tab" href="#list-performances-schedule">Расписание</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="list-performances-poster" class="poster tab-pane fade in active">
            <div class="poster__desktop">
                <div class="row">
                    {% for performance in performances_affiche %}
                        <div class="col-sm-3">
                            <a href="#">
                                <img src="{{ performance.thumbnail.url }}" class="img-responsive img-performances">
                                <h3>{{ performance.name }}</h3>
                                <p>8.3</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="poster__mobile">
                <div class="row">
                    {% for performance in performances_affiche %}
                        <div class="col-xs-6">
                            <a href="#">
                                <img src="{{ performance.thumbnail.url }}" class="img-responsive img-performances">
                                <h3><span>3.3</span> {{ performance.name }}</h3>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="list-performances-schedule" class="schedule tab-pane fade">
            <div class="row">
                <h3 class="title-schedule">сегодня,<span class="date"> 18 марта</span>, суббота <i class="fa fa-calendar" aria-hidden="true"></i></h3>
            </div>
            <div class="schedule__desktop">
                {% for performances in performances_schedule %}
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="#">
                                <img src="{{ performances.thumbnail.url }}" class="img-responsive img-performances">
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a href="#">
                                <h3 class="name-schedule text-schedule">{{ performances.name }}</h3>
                            </a>
                            <p class="info-schedule text-schedule">
                                {% for genre in performances.genres.all %}
                                    {{ genre.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>

                            <p class="age-schedule text-schedule">16+</p>
                        </div>

                        <div class="col-sm-3">
                            <p class="desc-schedule desc-first text-schedule">Постановка: {{ performances.theater.name }}</p>
                            <p class="desc-schedule text-schedule">
                                Режиссер:
                                {% for director in performances.directors.all %}
                                    {{ director.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <p class="desc-schedule text-schedule">
                                В ролях:
                                {% for actor in performances.actors.all %}
                                    {{ actor.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>

                        </div>

                        <div class="col-sm-3">
                            <p class="time-start text-schedule">
                                12:00
                            </p>
                            <p class="duration text-schedule">
                                3 часа,
                            </p>
                            <p class="is-intermission text-schedule">
                                без антракта
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="schedule__mobile">
                <div class="row">
                    {% for performances in performances_schedule %}
                        <div class="col-xs-6">
                            <a href="#">
                                <img src="{{ performances.thumbnail.url }}" class="img-responsive img-performances">
                            </a>
                            <a href="#">
                                <h3 class="name-schedule text-schedule">{{ performances.name }}</h3>
                            </a>
                            <p class="info text-schedule">
                                16+, 12:00, 3 часа, без антракта
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
