{% load staticfiles %}

<ul class="nav nav-tabs">
    <li class="active poster-tab">
        <a data-toggle="tab" href="#list-performances-poster">Афиша</a>
    </li>

    <li class="schedule-tab">
        <a data-toggle="tab" href="#list-performances-schedule">Расписание</a>
    </li>
</ul>

<div class="tab-content">
    <div id="list-performances-poster" class="poster tab-pane fade in active">
        <div class="poster__desktop">
            <div class="row">
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s1.png" %}" class="img-responsive img-performances">
                        <h3>Тайна тетушки Мэлкин</h3>
                        <p>8.3</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s2.png" %}" class="img-responsive img-performances">
                        <h3>Чувства</h3>
                        <p>3.3</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s3.png" %}" class="img-responsive img-performances">
                        <h3>Удивительное путешествие кролика Эдварда</h3>
                        <p>5.3</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s4.png" %}" class="img-responsive img-performances">
                        <h3>О странностях любви</h3>
                        <p>7.3</p>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s1.png" %}" class="img-responsive img-performances">
                        <h3>Тайна тетушки Мэлкин</h3>
                        <p>8.3</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s2.png" %}" class="img-responsive img-performances">
                        <h3>Чувства</h3>
                        <p>3.3</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s3.png" %}" class="img-responsive img-performances">
                        <h3>Удивительное путешествие кролика Эдварда</h3>
                        <p>5.3</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s4.png" %}" class="img-responsive img-performances">
                        <h3>О странностях любви</h3>
                        <p>7.3</p>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s1.png" %}" class="img-responsive img-performances">
                        <h3>Тайна тетушки Мэлкин</h3>
                        <p>8.3</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s2.png" %}" class="img-responsive img-performances">
                        <h3>Чувства</h3>
                        <p>3.3</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s3.png" %}" class="img-responsive img-performances">
                        <h3>Удивительное путешествие кролика Эдварда</h3>
                        <p>5.3</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s4.png" %}" class="img-responsive img-performances">
                        <h3>О странностях любви</h3>
                        <p>7.3</p>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s1.png" %}" class="img-responsive img-performances">
                        <h3>Тайна тетушки Мэлкин</h3>
                        <p>8.3</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s2.png" %}" class="img-responsive img-performances">
                        <h3>Чувства</h3>
                        <p>3.3</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s3.png" %}" class="img-responsive img-performances">
                        <h3>Удивительное путешествие кролика Эдварда</h3>
                        <p>5.3</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s4.png" %}" class="img-responsive img-performances">
                        <h3>Притча о деревянном сыне, или Буратино</h3>
                        <p>7.3</p>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s1.png" %}" class="img-responsive img-performances">
                        <h3>Тайна тетушки Мэлкин</h3>
                        <p>8.3</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s2.png" %}" class="img-responsive img-performances">
                        <h3>Чувства</h3>
                        <p>3.3</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s3.png" %}" class="img-responsive img-performances">
                        <h3>Удивительное путешествие кролика Эдварда</h3>
                        <p>5.3</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s4.png" %}" class="img-responsive img-performances">
                        <h3>О странностях любви</h3>
                        <p>7.3</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="poster__mobile">
            <div class="row">
                <div class="col-xs-6">
                    <a href="#">
                        <img src="{% static "images/test/s1.png" %}" class="img-responsive img-performances">
                        <h3><span>8.3</span> Тайна тетушки Мэлкин</h3>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="#">
                        <img src="{% static "images/test/s2.png" %}" class="img-responsive img-performances">
                        <h3><span>3.3</span> дивительное путешествие кролика Эдварда</h3>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <a href="#">
                        <img src="{% static "images/test/s1.png" %}" class="img-responsive img-performances">

                        <h3><span>8.3</span> тетушки Мэлкин</h3>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="#">
                        <img src="{% static "images/test/s2.png" %}" class="img-responsive img-performances">
                        <h3><span>3.3</span> Чувства</h3>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <a href="#">
                        <img src="{% static "images/test/s1.png" %}" class="img-responsive img-performances">
                        <h3><span>8.3</span> Тайна тетушки Мэлкин</h3>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="#">
                        <img src="{% static "images/test/s2.png" %}" class="img-responsive img-performances">
                        <h3><span>3.3</span> дивительное путешествие кролика Эдварда</h3>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <a href="#">
                        <img src="{% static "images/test/s1.png" %}" class="img-responsive img-performances">

                        <h3><span>8.3</span> тетушки Мэлкин</h3>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="#">
                        <img src="{% static "images/test/s2.png" %}" class="img-responsive img-performances">
                        <h3><span>3.3</span> Чувства</h3>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div id="list-performances-schedule" class="schedule tab-pane fade">
        <div class="row">
            <h3 class="title-schedule">сегодня,<span class="date"> 18 марта</span>, суббота <i class="fa fa-calendar" aria-hidden="true"></i></h3>
        </div>
        <div class="schedule__desktop">
            <div class="row">
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s4.png" %}" class="img-responsive">
                    </a>
                </div>

                <div class="col-sm-3">
                    <a href="#">
                        <h3 class="name-schedule text-schedule">О странностях любви</h3>
                    </a>
                    <p class="info-schedule text-schedule">Антон Чехов // Драма</p>
                    <p class="age-schedule text-schedule">16+</p>
                </div>

                <div class="col-sm-3">
                    <p class="desc-schedule desc-first text-schedule">Постановка: МТЮЗ</p>
                    <p class="desc-schedule text-schedule">Режиссер: Кама Гинкас</p>
                    <p class="desc-schedule text-schedule">В ролях: Игорь Гордин, Мария Луговая,
                        Александр Тараньжин, Алексей Дубровский,
                        Михаил Парыгин
                    </p>

                </div>

                <div class="col-sm-3">
                    <p class="time-start text-schedule">
                        12:00
                    </p>
                    <p class="duration text-schedule">
                        3 часа,
                    </p>
                    <p class="is-intermission text-schedule">
                        без антракта
                    </p>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s4.png" %}" class="img-responsive">
                    </a>
                </div>

                <div class="col-sm-3">
                    <a href="#">
                        <h3 class="name-schedule text-schedule">О странностях любви</h3>
                    </a>
                    <p class="info-schedule text-schedule">Антон Чехов // Драма</p>
                    <p class="age-schedule text-schedule">16+</p>
                </div>

                <div class="col-sm-3">
                    <p class="desc-schedule desc-first text-schedule">Постановка: МТЮЗ</p>
                    <p class="desc-schedule text-schedule">Режиссер: Кама Гинкас</p>
                    <p class="desc-schedule text-schedule">В ролях: Игорь Гордин, Мария Луговая,
                        Александр Тараньжин, Алексей Дубровский,
                        Михаил Парыгин
                    </p>

                </div>

                <div class="col-sm-3">
                    <p class="time-start text-schedule">
                        12:00
                    </p>
                    <p class="duration text-schedule">
                        3 часа,
                    </p>
                    <p class="is-intermission text-schedule">
                        без антракта
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s4.png" %}" class="img-responsive">
                    </a>
                </div>

                <div class="col-sm-3">
                    <a href="#">
                        <h3 class="name-schedule text-schedule">О странностях любви</h3>
                    </a>
                    <p class="info-schedule text-schedule">Антон Чехов // Драма</p>
                    <p class="age-schedule text-schedule">16+</p>
                </div>

                <div class="col-sm-3">
                    <p class="desc-schedule desc-first text-schedule">Постановка: МТЮЗ</p>
                    <p class="desc-schedule text-schedule">Режиссер: Кама Гинкас</p>
                    <p class="desc-schedule text-schedule">В ролях: Игорь Гордин, Мария Луговая,
                        Александр Тараньжин, Алексей Дубровский,
                        Михаил Парыгин
                    </p>

                </div>

                <div class="col-sm-3">
                    <p class="time-start text-schedule">
                        12:00
                    </p>
                    <p class="duration text-schedule">
                        3 часа,
                    </p>
                    <p class="is-intermission text-schedule">
                        без антракта
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <a href="#">
                        <img src="{% static "images/test/s4.png" %}" class="img-responsive">
                    </a>
                </div>

                <div class="col-sm-3">
                    <a href="#">
                        <h3 class="name-schedule text-schedule">О странностях любви</h3>
                    </a>
                    <p class="info-schedule text-schedule">Антон Чехов // Драма</p>
                    <p class="age-schedule text-schedule">16+</p>
                </div>

                <div class="col-sm-3">
                    <p class="desc-schedule desc-first text-schedule">Постановка: МТЮЗ</p>
                    <p class="desc-schedule text-schedule">Режиссер: Кама Гинкас</p>
                    <p class="desc-schedule text-schedule">В ролях: Игорь Гордин, Мария Луговая,
                        Александр Тараньжин, Алексей Дубровский,
                        Михаил Парыгин
                    </p>

                </div>

                <div class="col-sm-3">
                    <p class="time-start text-schedule">
                        12:00
                    </p>
                    <p class="duration text-schedule">
                        3 часа,
                    </p>
                    <p class="is-intermission text-schedule">
                        без антракта
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
