<ul class="nav nav-tabs">
    <li class="active poster-tab">
        <a data-toggle="tab" href="#list-performances-poster">Афиша</a>
    </li>

    <li class="schedule-tab">
        <a data-toggle="tab" href="#list-performances-schedule">Расписание</a>
    </li>
</ul>

<div class="tab-content">
    <div id="list-performances-poster" class="tab-pane fade in active">
        <h3>Афиша</h3>
    </div>

    <div id="list-performances-schedule" class="tab-pane fade">
        <h3>Расписание</h3>
    </div>
</div>
