{% load staticfiles %}
{% load thumbnail %}

<div class="main-info__today col-xs-6 col-sm-3">
    <div class="title">
        <h2>Сегодня</h2>
        <a href="#">{% now "j M. l" %}</a>
        <div class="triangle"></div>
    </div>
    {% if top_today_performances.count == 0  %}
        <div class="block" style="background-image: url({% static "images/performance/not-performance.png" %})">
            <div class="substrate not-active"></div>
        </div>
    {% else %}
        <div class="is-top-today-perf" data-count="{{ top_today_performances.count }}"></div>
        {% for top_performance in top_today_performances %}
            {% if forloop.first %}
                <a class="top-tody-performance" id="top-today-perf-{{ forloop.counter0 }}" href="#">
            {% else %}
                <a class="hide-performance top-tody-performance" id="top-today-perf-{{ forloop.counter0 }}" href="#">
            {% endif %}
                <div class="block" style="background-image: url({% thumbnail top_performance.thumbnail 290x415 %})">
                    <div class="substrate"></div>
                </div>
            </a>
        {% endfor %}
    {% endif %}
</div>

<div class="main-info__soon col-xs-6 col-sm-3">
    {% if week_ahead_performances.count == 0  %}
        <div class="block" style="background-image: url({% static "images/performance/not-performance.png" %})">
            <div class="substrate not-active"></div>
        </div>
    {% else %}
        <div class="is-top-week-ahead-perf" data-count="{{ week_ahead_performances.count }}"></div>
        {% for top_performance in week_ahead_performances %}
            {% if forloop.first %}
                <a class="top-week-ahead-performance" id="top-week-ahead-perf-{{ forloop.counter0 }}" href="#">
            {% else %}
                <a class="hide-performance top-week-ahead-performance" id="top-week-ahead-perf-{{ forloop.counter0 }}" href="#">
            {% endif %}
                <div class="block" style="background-image: url({% thumbnail top_performance.thumbnail 290x415 %})">
                    <div class="substrate"></div>
                </div>
            </a>
        {% endfor %}
    {% endif %}
    <div class="title_soon">
        <h2>Скоро</h2>
        <a href="#">посмотреть расписание</a>
    </div>
</div>

<div class="main-info__the_best-advice col-xs-6 col-sm-3">
    <a href="#">
        <div class="the_best block" style="background-image: url({% static "images/test/best.png" %})">
            <div class="substrate"></div>
            <h2>
                Агата возвращается домой
            </h2>
            <p class="category">детские спектакли, драматические спектакли</p>
            <p class="rating">8.2</p>
        </div>
    </a>

    {% if thirdparty_resources is None %}
        <a>
            <div class="advice block" style="background-image: url({% static "images/performance/not-performance.png" %})">
            </div>
        </a>
    {% else %}
        <a target="_blank" href="{{ thirdparty_resources.link }}">
            <div class="advice block" style="background-image: url({% thumbnail thirdparty_resources.thumbnail 290x245 %})">
                <div class="substrate"></div>
                <h2>
                    {{ thirdparty_resources.name }}
                </h2>
            </div>
        </a>
    {% endif %}
</div>

<div class="main-info__news col-xs-6 col-sm-3">
    <div class="title">
        <h2>Новости</h2>
        <a href="#">анонс мероприятий</a>
    </div>
    <a href="#">
         <div class="block" style="background-image: url({% static "images/test/news.png" %})">
            <div class="substrate"></div>
        </div>
    </a>
</div>