{% load staticfiles %}

<header>
    <div class="container desktop-menu">
        <div class="row">
            <div class="account">
                <a href="#" class="account__link-account">
                    <img src="{% static "images/icons/user.png" %}">&nbsp;
                    Мой ТеатрГид<img class="img-arrow" src="{% static "images/icons/arrow-down.png" %}">
                </a>
            </div>

            <div class="logo">
                <a href="{% url "home" %}">
                    <img class="img-responsive" src="{% static "images/logo/logo.png" %}">
                </a>
            </div>

            <div class="search">
                <form id="search-form" class="form-inline" method="get">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="search-value" placeholder="Поиск">
                    </div>
                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            {% include "menu.html" %}
        </div>
    </div>

    <div class="mobile-menu">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <a href="{% url "home" %}">
            <img class="img-responsive logo" src="{% static "images/logo/logo.png" %}">
        </a>
        <a href="#" class="link-account">
            <img src="{% static "images/icons/user.png" %}">
        </a>
        <img class="search" src="{% static "images/icons/search.png" %}">
    </div>
</header>